# Node modules – never push this
node_modules/

#Commit history – never push this
commit.js
practice.js


# Environment variables – contains secrets
.env

# Logs and system files
*.log
.DS_Store
Thumbs.db

# OS and editor junk
.vscode/
.idea/

# If you use build tools or transpilers
dist/
build/
../client/
